# Dependências do Node.js
/node_modules

# Arquivo de Variáveis de Ambiente
.env

# Arquivo do Banco de Dados SQLite do Prisma
/prisma/dev.db
# Arquivos de log do SQLite
/prisma/*.db-journal

# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db